.grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: white;
  gap: 1rem;
  overflow: hidden;
  padding: 1.5rem;
  grid-auto-columns: 1fr;
  min-width: 155px;
}

.grid-item{
  display: flex;
  color:white;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.item1{
  grid-column: 1 / span 4;
  /* height: 25dvh; */
  background-color: tomato;
}

.item2{
  grid-row: 2 / span 2;
  /* height: 50dvh; */
  background-color: darkviolet;
}

.item3{
  grid-column: 2 / span 3;
  background-color: teal;
}

.item4{
  grid-column: 2 / 3;
  background-color: gold;
}

.item5{
  grid-column: 4 / 5;
  background-color: gold;
}

.item6{
  grid-column: 1 / span 4;
  /* height: 25dvh; */
  /* padding-bottom: 1.5rem; */
  background-color: tomato;
}

@media only screen and (max-width: 767px) {
  .grid-container {
    justify-content: center;
  }
  .grid-item {
    grid-column: 1 / span 1;
    min-width: 130px;
  }
  .item1{
    grid-row: 1 / span 1;
  }
  .item2{
    grid-row: 2 / span 1;
  }
  .item3{
    grid-row: 3 / span 1;
  }
  .item4{
    grid-row: 4 / span 1;
  }
  .item5{
    grid-row: 5 / span 1;
  }
  .item6{
    grid-row: 6 / span 1;
  }
}